# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.opensdf
*.sdf
*.suo
*.pdb
*.idb
*.ilk
*.exp

# Unreal Engine 4
FirstPerson/Build/*
FirstPerson/Binaries/*
FirstPerson/Build/Receipts/*
FirstPerson/Intermediate/Build/*
FirstPerson/Intermediate/Config/*
FirstPerson/Intermediate/Staging/*
FirstPerson/Intermediate/AssetRegistryCache/*
FirstPerson/Saved/*
FirstPerson/Intermediate/ProjectFiles/obj/*
FirstPerson/Content/FirstPerson/*
FirstPerson/Content/FirstPersonCPP/*
FirstPerson/Content/Geometry/*
FirstPerson/Content/Flying/*
FirstPerson/Content/FlyingCPP/*
FirstPerson/ThirdParty/Build/*
FirstPerson/DerivedDataCache
FirstPerson/Intermediate/ReimportCache
FirstPerson/Intermediate/CachedAssetRegistry.bin
FirstPerson/Content/GTFreeMaterials/*
FirstPerson/Content/StarterContent/*

FirstPerson/Plugins/VoxelMate/Build/*
FirstPerson/Plugins/VoxelMate/Binaries/*
FirstPerson/Plugins/VoxelMate/Build/Receipts/*
FirstPerson/Plugins/VoxelMate/Intermediate/Build/*
FirstPerson/Plugins/VoxelMate/Intermediate/Config/*
FirstPerson/Plugins/VoxelMate/Intermediate/Staging/*
FirstPerson/Plugins/VoxelMate/Intermediate/AssetRegistryCache/*
FirstPerson/Plugins/VoxelMate/Saved/*
FirstPerson/Plugins/VoxelMate/Intermediate/ProjectFiles/obj/*
FirstPerson/Plugins/VoxelMate/Content/FirstPerson/*
FirstPerson/Plugins/VoxelMate/Content/FirstPersonCPP/*
FirstPerson/Plugins/VoxelMate/Content/Geometry/*
FirstPerson/Plugins/VoxelMate/Content/Flying/*
FirstPerson/Plugins/VoxelMate/Content/FlyingCPP/*
FirstPerson/Plugins/VoxelMate/ThirdParty/Build/*
FirstPerson/Plugins/VoxelMate/DerivedDataCache
FirstPerson/Plugins/VoxelMate/Intermediate/ReimportCache
FirstPerson/Plugins/VoxelMate/Intermediate/CachedAssetRegistry.bin
FirstPerson/Plugins/VoxelMate/Content/GTFreeMaterials/*
FirstPerson/Plugins/VoxelMate/Content/StarterContent/*

# Build logs
*.tlog
*.log
